<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 mb-4 mb-md-0">
            <mat-card class="text-center font-weight-bolder">
                <mat-card-content>AngularMaterial</mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 mb-md-0">
            <mat-card class="text-center font-weight-bolder">
                <mat-card-content>loves</mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 mb-md-0">
            <mat-card class="text-center font-weight-bolder">
                <mat-card-content>Bootstrap's grid and utilities</mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
