<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 mb-4 mb-md-0">
            <mat-card class="text-center font-weight-bolder">AngularMaterial</mat-card>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 mb-md-0">
            <mat-card class="text-center font-weight-bolder">loves</mat-card>
        </div>
        <div class="col-sm-12 col-md-4 mb-4 mb-md-0">
            <mat-card class="text-center font-weight-bolder">Bootstrap's grid and utilities</mat-card>
        </div>
    </div>
</div>
